<div class="mt-4">
    <div>
        <a href="/me/stored/courses">Danh sách khoá học</a>
        <h3>Khoá học đã xoá</h3>

    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên khoá học</th>
                <th scope="col">trình độ</th>
                <th scope="col">thời gian tạo</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href=""   class="btn btn-primary btn-restore" data-id="{{this._id}}">Khôi
                        phục.</a>
                </td>
                <td>
                    <a href="" data-toggle="modal" data-id={{this._id}} data-target="#delete-course-modal"
                        class="btn btn-primary">Xoá vĩnh viễn.</a>
                </td>


            </tr>
            {{else}}
            <tr col="5" class="text-center">Thùng rác trống
                <a href="/me/stored/courses">Danh sách khoá học</a>
            </tr>
            {{/each}}

        </tbody>
    </table>
</div>

{{!--Confirm delete--}}
<div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xoá khoá học?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắn muốn xoá vĩnh viễn khoá học này?.</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-course" type="button" class="btn btn-danger">Xoá vĩnh viễn.</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ.</button>
            </div>
        </div>
    </div>
</div>
{{!--Delete hidden form--}}
<form name="delete-course-form" method="POST"></form>
<form name="restore-course-form" method="POST"></form>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var courseId;
        var btnDeleteCourse = document.getElementById('btn-delete-course');
        var deleteForm = document.forms['delete-course-form'];
        var restoreForm = document.forms['restore-course-form'];
        var restoreBtn = $('.btn-restore')
        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            courseId = button.data('id') // Extract info from data-*
        });
        var btnDeleteCourse = document.getElementById('btn-delete-course');
        btnDeleteCourse.onclick = function () {
            deleteForm.action = `/courses/${courseId}/force?_method=DELETE`;
            deleteForm.submit();
        };
        restoreBtn.click(function (e) {
            e.preventDefault();
            var courseId = $(this).data('id');
            restoreForm.action = `/courses/${courseId}/restore?_method=PATCH`;
            restoreForm.submit();
        })
    })

</script>